<div class="container-fluid">
	<section class=" row">
		<h1> Welcome to the url shortener! </h1>
	</section>
	<section class="row">
		<a href="/links/new"><button type="submit" class="btn btn-primary">Shorten your url</button></a>
	</section>
</div>
