<!-- blog.erb -->

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Blog</title>
</head>
<body>
	<form action="/add_post" method="GET" name="add_post">
		<button type="submit" class="btn btn-success">Add Post</button>
	</form>
	<% @posts.each_with_index do |post,index| %>
		<a href="/posts/<%=index%>"><%= post.show_title %></a>
		<br>
	<% end %>
</body>
</html>