<form>
	<label for="name">Name:</label>
	<input type="text" id="name" placeholder="Jeremy Lewis">

	<label for="mail">Email:</label>
	<input type="email" id="mail" placeholder="jlewis@mymail.com">

	<label for="mail">Birthday:</label>
	<input type="date" id="mail" placeholder="01/06/2015">

	<button type="submit">Submit</button>
</form>