<div class="container-fluid">
	<section class=" row">
		<h1> Welcome to the GIFblog! </h1>
	</section>
	<section class="row">
		<a href="/posts/new"><button type="submit" class="btn btn-primary">Post</button></a>
	</section>
</div>
