<h1>Add here a new contact!!</h1>

<form action="/contacts" method="POST">
	<div>
		<label for="contact_name">Your Name:</label>
		<input type="text" name="contact[name]" id="contact_name" placeholder="James Brown">
	</div>

	<div>
		<label for="contact_address">Your Address:</label>
		<textarea name="contact[address]" id="contact_address" placeholder="This is my amazing address"></textarea>
	</div>

	<div>
		<label for="contact_phone">Your Phone:</label>
		<input type="tel" name="contact[phone]" id="contact_phone" placeholder="6xx xx xx xx">
	</div>

	<div>
		<label for="contact_email">Your Email:</label>
		<input type="email" name="contact[email]" id="contact_email" placeholder="jbrown@mymail.com">
	</div>
	<div for="contact_favorite" class="checkbox">
    	<label>
    		<input name="contact[favorite]" type="hidden" value=false>
      		<input type="checkbox" name="contact[favorite]" id="contact_favorite" value=true> Favorite
    	</label>
  	</div>
	<button type="submit">Add this contact</button>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>